.maindiv{
    border: 1px solid green; 
} 
.fieldName{
    text-align: center;
}
/* .buttonClass{  
    display:grid;
} */
/* .buttonClass{
    margin: 20px auto;
    margin-left: 200px;
    width: 100px;
    border-radius: 20px;
    border: none;
}  */
.title{
    font-size: 30px;
    text-align: center;
    background-color: darkblue;
    color: white;
    margin: 10px auto;
    padding: 10px;
}